<web-app>
<servlet>
<servlet-class>Register</servlet-class>
<servlet-name>ab</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>ab</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-class>Login</servlet-class>
<servlet-name>bb</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>bb</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
    
<servlet>
<servlet-class>Balance</servlet-class>
<servlet-name>bal</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>bal</servlet-name>
<url-pattern>/balance</url-pattern>
</servlet-mapping>
    
<servlet>
<servlet-class>Deposite</servlet-class>
<servlet-name>dd</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>dd</servlet-name>
<url-pattern>/depo</url-pattern>
</servlet-mapping>
    
    <servlet>
<servlet-class>Withdraw</servlet-class>
<servlet-name>ww</servlet-name>
</servlet>
<servlet-mapping>
<servlet-name>ww</servlet-name>
<url-pattern>/withdraw</url-pattern>
</servlet-mapping>
    
</web-app>
